# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env
*.env
.env.*
backend/.env
frontend/.env

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


